@font-face {
  font-family: "iconfont"; /* Project id 3431827 */
  src: url('//at.alicdn.com/t/font_3431827_wmlmxs6aan.woff2?t=1653717358876') format('woff2'),
       url('//at.alicdn.com/t/font_3431827_wmlmxs6aan.woff?t=1653717358876') format('woff'),
       url('//at.alicdn.com/t/font_3431827_wmlmxs6aan.ttf?t=1653717358876') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 20px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-youjian:before {
  content: "\e649";
}

.icon-dianhua:before {
  content: "\e61e";
}

.icon-dizhi:before {
  content: "\e609";
}

.icon-yueliang:before {
  content: "\e6b8";
}

.icon-taiyang:before {
  content: "\e603";
}

.icon-xiangshang4:before {
  content: "\e795";
}

.icon-fasong:before {
  content: "\e636";
}

.icon-shejiguifan:before {
  content: "\e602";
}

.icon-24:before {
  content: "\e6af";
}

.icon-shebeikaifa:before {
  content: "\ec8b";
}

.icon-gongju:before {
  content: "\e625";
}

.icon-gongju1:before {
  content: "\e620";
}

.icon-guanbi:before {
  content: "\e601";
}

.icon-xiazai:before {
  content: "\e7bb";
}

.icon-xiangyou3fill:before {
  content: "\e777";
}

.icon-xiangxia3:before {
  content: "\e773";
}

.icon-Rightxiangyou11:before {
  content: "\e713";
}

.icon-csdn:before {
  content: "\e638";
}

.icon-qq:before {
  content: "\e8d4";
}

.icon-wechat:before {
  content: "\e8d5";
}

.icon-icon_bilibili-square:before {
  content: "\e600";
}

.icon-gitee:before {
  content: "\e60c";
}

